{% set cdp_cd_list = {
  "number_cd_loaded": 3,
  "cd": [
    {
      "Number": 1,
      "Artist": "Andrea Bocelli",
      "Album": "Duets CD 1",
      "Number Tracks": 16,
      "Tracks": ["Time to say goodbye", "Vivo por ella", "Quizas, Quizas, Quizas", "Fall on Me", "Perfect Symphony", "Da stanotte in poi", "Holding on", "Il mare calmo della sera", "The Prayer", "La Vie en Rose", "E più ti penso", "If Only", "Somos Novios", "Return to Love", "Rimani qui", "Vivo per lei"]
    },
    {
      "Number": 2,
      "Artist": "Andrea Bocelli",
      "Album": "Duets CD 2",
      "Number Tracks": 16,
      "Tracks": ["Dare to Live (Vivere)", "Can't Help Falling in Love", "Hallelujah", "Amazing Grace", "Moon River", "Canto della terra", "La voce del silenzio", "Canzoni stonate", "Un amore così grande", "Notte 'e piscatore", "Io ci sarò", "Pianissimo", "The Pearl Fishers Duet", "La bambina mia ricordati", "What Child Is This", "Time to Say Goodbye"]
    },
    {
      "Number": 3,
      "Artist": "Luciano Pavarotti",
      "Album": "O Holy Night",
      "Number Tracks": 11,
      "Tracks": ["Cantique de Noel (O Holy Night)", "Pietà, Signore", "Panis Angelicus", "Qual giglio candido", "Ave Maria (Schubert)", "Gesù bambino", "Ave Maria (Bach)", "Mille Cherubini in coro", "Agnus Dei", "Sanctus - from Requiem", "Adeste fideles"]
    },
    {
      "Number": 4,
      "Artist": "Mozart",
      "Album": "Mostly Mozart",
      "Number Tracks": 9,
      "Tracks": ["Overture to the Magic Flute", "Symphony no. 41 in C", "Violin Concerto No. 3 in G", "Bassoon Concerto in B Flat", "Quintet in A for Clarinet and Strings", "Rondo in D", "Concerto for Flute in D", "Sinfonia Concertante in E flat for Violin & Viola", "Overture to The Marriage of Figaro"]
    },
    {
      "Number": 5,
      "Artist": "Beethoven & Schubert",
      "Album": "Symphonie #3 Eroica & Symphonie #8 Unvollendete",
      "Number Tracks": 6,
      "Tracks": ["#3 - Allegro con brio", "#3 - Marcia funebre. Adagio assai", "#3 - Scherzo. Allegro vivace", "#3 - Finale. Allegro molto", "#8 - Allegro moderato", "#8 - Andante con moto"]
    },
    {
      "Number": 6,
      "Artist": "Five for Fighting",
      "Album": "The Battle for Everything",
      "NumberTracks": 12,
      "Tracks": ["NYC Weather Report", "The Devil in the Wishing Well", "If God Made You", "100 Years", "Angels & Girlfriends", "Dying", "Infidel", "Disneyland", "Maybe I", "The Taste", "One More for Love", "Nobody"]
    }]
} 
%}
